<h1>{{details}}</h1>
<h3>You are searching id: {{num}}</h3>
<input type="button" ng-click="reloadData()" value="ReloadData" />
<table style="border: 1px solid black">
    <tr>
        <td>Id :</td>
        <td>{{student.id}}</td>
    </tr>
    <tr>
        <td>Name :</td>
        <td>{{student.name}}</td>
    </tr>
    <tr>
        <td>Gender :</td>
        <td>{{student.gender}}</td>
    </tr>
    <tr>
        <td>City :</td>
        <td>{{student.city}}</td>
    </tr>
</table>
<a href="students">Back to Student list</a>